# Yarn 3 without zero-installs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !.yarn/cache
.pnp.*

# Dependencies
node_modules

# caches
.tsbuildinfo

# Test artifacts
coverage

# Keys
*.key
*.pem
.pat

# Environment files
.env
.env.local
.env.*.local

# Temp files
*.tmp
tmp

# Editor Files
*.swp
*.swo

# OS Files
.DS_Store
